#mainNav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5bf174;
    overflow-x: hidden;
    padding-top: 20px;
}
#mainNav li{
    list-style-type: none;
}
#mainNav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}
#mainNav a:hover{
    color: #EFFAFC;
}
body{
    margin-left: 200px;

}
*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background:#5bec48;
    padding: 0.75em;
    text-align:center;
    color: #16ce35;
    border: 0.1em solid black;
}
#mainImg{
    width: 100%;
    height:350px;
}
#container{
    width: 90%;
    margin: auto;
    padding:1em;
    background:rgba(90, 243, 110, 0.904);
}
.sect{
    margin: 1em;
    padding: 1em;
    background: #61e946;
    text-align: initial;
    box-shadow:5px 5px #17b331;
    border-radius: 20px;
}
.box{
    display: grid;
    grid-template-columns: 45% 45% ;
    grid-gap: 50px;
    justify-content: flex-start;
}
.box3{
    display: grid;
    grid-template-columns: 45% 45% ;
    grid-gap: 50px;
    justify-content: flex-start;
}
h2{
    text-align: center;
    background: #028a14;
    box-shadow:5px 5px rgb(199, 243, 78);
}
#bodyImg{
    background: url(../images/sea3.webp);
}
img{
    width: 100%;
    height: 250px;
    display: block;
    padding: 0;
    margin: 0 auto;
}
.image{
    border-radius: 10em;
}
.bcss{
    padding: 1em;
    margin: 0em;
    color: black;
    font-size: medium;
    background:#44f544; 
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 95%;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    color: #000000;
    font-size: 15px;
}
footer a{
    text-decoration: none;
}

.foot{
width: 95%;
margin: 0em;
padding: 1em;
background:#56dd44;
text-align: initial;
}
.list li:nth-of-type(1){
    color: white;
    background-color: rgb(40, 122, 53);
}
.list li:nth-of-type(2){
    color: rgb(67, 156, 82);
    background-color: white;
}
.list li:nth-of-type(3){
    color: white;
    background-color: rgb(107, 109, 228);
}
.list li:nth-of-type(4){
    color: rgb(97, 99, 209);
    background-color: white;
}
.list li:nth-of-type(5){
    color: white;
    background-color: rgb(107, 109, 228);
}
.list li:nth-of-type(6){
    color: rgb(97, 99, 209);
    background-color: white;
}
.head{
    text-decoration:none;
}

